body {
    font-family: 'Whitney', Arial, sans-serif;
    background-color: #2c2f33;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    background-color: #23272a;
}

.tablinks {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white;
    margin: 0 10px; /* Add some space between the tab links */
}

.tablinks:hover {
    background-color: #555;
}

.tabcontent {
    display: none;
    padding: 20px;
    border-top: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #23272a;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #4f545c;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%; /* Ensure the content wrapper takes up the full width */
}

.form-container {
    width: 60%; /* Form container takes up 60% of the width */
    background-color: #2c2f33;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #4f545c;
}

.position-list {
    width: 40%; /* Position list takes up 40% of the width */
    background-color: #2c2f33;
    margin-left: 5%;
    border: 1px solid #4f545c;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.signature {
    margin: 0 auto;
    text-align: center;
}


.position-list button {
    display: inline-block;
}

.position-list h2 {
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
}

.position-list li.selected {
    background-color: #7289da;
    color: white;
    border-radius: 4px;
    padding: 5px;
}

.position-list .remove-position {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.position-list .remove-position:hover {
    color: red;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.slider-wrapper {
    display: flex;
    align-items: center; /* Align slider and input box horizontally */
}

.slider-wrapper input[type="range"] {
    flex-basis: 80%; /* Slider takes up 85% of the width */
    margin-right: 10px;
}

.slider-input {
    flex-basis: 20%;
    margin-left: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.slider-value {
    margin-left: 10px;
}

.title {
    color:#ffffff;
    line-height: 135%;
    text-align: center;
    font-size:x-large;
    font-weight: 600;
}

h1 {
    text-align: center;
    color: #ffffff;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #ffffff;
}

input[type="text"],
select,
datalist,
input[type="range"]{
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #2c2f33;
    color: #ffffff;
    border: 1px solid #4f545c;
    border-radius: 5px;
}

input[type="number"] {
    width: 20%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #2c2f33;
    color: #ffffff;
    border: 1px solid #4f545c;
    border-radius: 5px;
}

.radio-group,
.checkbox-group {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.radio-group input[type="radio"],
.checkbox-group input[type="checkbox"] {
    margin-right: 5px;
}

.radio-group label,
.checkbox-group label {
    margin-right: 10px;
    cursor: pointer;
    color: #ffffff;
}

span {
    font-weight: normal;
    font-size: 14px;
    color: #b9bbbe;
}

.tags-dropdown {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.tags-dropdown label {
    margin-bottom: 5px;
}

.tags-dropdown input[list="tagsList"] {
    width: 20%;
    padding: 8px;
    background-color: #2c2f33;
    color: #ffffff;
    border: 1px solid #4f545c;
    border-radius: 5px;
    margin: 0;
}

.tags-dropdown button {
    display: inline;
    width: 20%; 
    padding: 10px;
    background-color: #7289da;
    color: #ffffff;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#tagsContainer {
    width: 60%;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #4f545c;
    border-radius: 4px;
    min-height: 30px;
    display: flex;
    flex-wrap: wrap;
    background-color: #2c2f33;
}

#tagsContainer span {
    background-color: #7289da;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

#tagsContainer span .remove-tag {
    margin-left: 5px;
    cursor: pointer;
    color: #ffffff;
}

.tag {
    display: inline-flex;
    align-items: center;
    background-color: #4f545c;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    color: #ffffff;
}

.remove-tag {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
    padding: 0;
}

.remove-tag:hover {
    color: #ff5555;
}

button[type="button"] {
    background-color: #7289da;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button[type="button"]:hover {
    background-color: #5b6eae;
}

.tag, .position-list li {
    cursor: pointer;
}

.remove-tag, .remove-position {
    cursor: pointer;
}

/*   Outfit Section    */

.img404 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }