/* 
#334c9e     blue
#787bff     bright blue
#b25b6e     dark pink
#fb94b2     pastel pink
#ff69b4     bright pink
#e27087     button pink
#4a2424     shadow
*/

body {
    font-family: Helvetica;
    background-color: #b25b6e;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    text-shadow: 3px 3px 0 #4a2424, -1px -1px 0 #4a2424, 1px -1px 0 #4a2424, -1px 1px 0 #4a2424, 1px 1px 0 #4a2424;
}

input[type="file"]::-webkit-file-upload-button,
button[type="button"] {
    border: 2px solid #e27087;
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
    background-color: #e27087;
    color: #fff;
    text-align: center;
    font-size: 2.0vmin;
    font-weight: bold;
    padding: .75vmin;
    line-height: 100%;
    text-decoration: none;
    display: inline-block;
    margin: 6px;
    -webkit-box-shadow: 3px 3px 0 #4a2424, -1px -1px 0 #4a2424, 1px -1px 0 #4a2424, -1px 1px 0 #4a2424, 1px 1px 0 #4a2424;
    box-shadow: 3px 3px 0 #4a2424, -1px -1px 0 #4a2424, 1px -1px 0 #4a2424, -1px 1px 0 #4a2424, 1px 1px 0 #4a2424;
    text-shadow: 3px 3px 0 #4a2424, -1px -1px 0 #4a2424, 1px -1px 0 #4a2424, -1px 1px 0 #4a2424, 1px 1px 0 #4a2424;
}

input[type="file"]::-webkit-file-upload-button:hover,
button[type="button"]:hover {
    border: 2px solid #fff;
    background-color: #fff;
    color: #e27087;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}

input[type="file"]::-webkit-file-upload-button:active,
button[type="button"]:active {
    color: #dd4b39;
}

input[type="file"]{
    width: 80%;
    border-radius: 5px;
}

input::placeholder {
    color: #334c9e;
    opacity: 1;     /* Ensures the color is fully opaque */
}

span {
    font-weight: normal;
    font-size: 14px;
    color: #b9bbbe;
}

h1 {
    text-align: center;
    color: #ffffff;
}

.title {
    color: #fff;
    font-size: 5vmin;
    text-align: center;
    text-shadow: 
    0 0 0 #899cd5, 
    1px 1px 0 #788bc4, 
    2px 2px 0 #5e71aa, 
    3px 3px 0 #32457e, 
    4px 4px 0 #071a53, 
    5px 5px 5px #000, 
    5px 5px 1px rgba(0, 0, 0, .5), 
    0 0 5px rgba(0, 0, 0, .2);
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #ffffff;
}

ul {
    display: flex;
    align-items: center;
    gap: 5px;
}

li {
    list-style: none;
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #e27087;
    padding: 0 5px;
    border-radius: 15px;
    margin-bottom: 5px;
    height: auto;
}

li.selected {
    background-color: #b25b6e;
    font-weight: bold;
}

input[type="text"] {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #e27087;
    color: #ffffff;
    border: 2px solid #b25b6e;
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
    -webkit-box-shadow: 3px 3px 0 #4a2424, -1px -1px 0 #4a2424, 1px -1px 0 #4a2424, -1px 1px 0 #4a2424, 1px 1px 0 #4a2424;
    box-shadow: 3px 3px 0 #4a2424, -1px -1px 0 #4a2424, 1px -1px 0 #4a2424, -1px 1px 0 #4a2424, 1px 1px 0 #4a2424;
}

input[type="number"] {
    width: 20%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #e27087;
    color: #ffffff;
    border: 2px solid #b25b6e;
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
    -webkit-box-shadow: 3px 3px 0 #4a2424, -1px -1px 0 #4a2424, 1px -1px 0 #4a2424, -1px 1px 0 #4a2424, 1px 1px 0 #4a2424;
    box-shadow: 3px 3px 0 #4a2424, -1px -1px 0 #4a2424, 1px -1px 0 #4a2424, -1px 1px 0 #4a2424, 1px 1px 0 #4a2424;
}

select,
datalist {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #e27087;
    color: #ffffff;
    border: 2px solid #b25b6e;
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
    -webkit-box-shadow: 3px 3px 0 #4a2424, -1px -1px 0 #4a2424, 1px -1px 0 #4a2424, -1px 1px 0 #4a2424, 1px 1px 0 #4a2424;
    box-shadow: 3px 3px 0 #4a2424, -1px -1px 0 #4a2424, 1px -1px 0 #4a2424, -1px 1px 0 #4a2424, 1px 1px 0 #4a2424;
}

/* Fancy Sliders Section */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: #23272a;
    border-radius: 10px;
    outline: none;
}

/* Webkit Thumb (Chrome, Safari, Edge) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #787bff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

/* Firefox Thumb */
input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #787bff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

input[type="range"]:hover::-webkit-slider-thumb {
    background-color: #e27087;
}

input[type="range"]:active::-webkit-slider-thumb {
    background-color: #fb94b2;
}
/* ------------------- */

input:disabled {
    background-color: #000000;
    cursor: not-allowed;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablinks {
    border: 2px solid #e27087;
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
    background-color: #e27087;
    color: #fff;
    text-align: center;
    font-size: 2.0vmin;
    font-weight: bold;
    padding: .75vmin;
    line-height: 100%;
    text-decoration: none;
    display: inline-block;
    margin: 6px;
    -webkit-box-shadow: 3px 3px 0 #4a2424, -1px -1px 0 #4a2424, 1px -1px 0 #4a2424, -1px 1px 0 #4a2424, 1px 1px 0 #4a2424;
    box-shadow: 3px 3px 0 #4a2424, -1px -1px 0 #4a2424, 1px -1px 0 #4a2424, -1px 1px 0 #4a2424, 1px 1px 0 #4a2424;
    text-shadow: 3px 3px 0 #4a2424, -1px -1px 0 #4a2424, 1px -1px 0 #4a2424, -1px 1px 0 #4a2424, 1px 1px 0 #4a2424;
}

.tabs .tablinks:hover {
    border: 2px solid #fff;
    background-color: #fff;
    color: #e27087;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}

.tabs .tablinks.active {
    border: 2px solid #334c9e;
    background-color: #334c9e;
    color: #fff;
}

.tabcontent {
    display: none;
    padding: 10px;
    border-top: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.container-title {
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
}

.container-text {
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.form-right-wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.signature {
    margin: 0 auto;
    text-align: center;
}

.radio-group,
.checkbox-group {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.radio-group input[type="radio"],
.checkbox-group input[type="checkbox"] {
    margin-right: 5px;
    accent-color: #fb94b2;
}

.radio-group label,
.checkbox-group label {
    margin-right: 10px;
    cursor: pointer;
    color: #ffffff;
}

.checkbox-group-inline {
    display: inline-block;
    margin-bottom: 10px;
}

.checkbox-group-inline input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px;
    accent-color: #fb94b2;
}

.checkbox-group-inline label {
    margin-right: 10px;
    cursor: pointer;
    color: #ffffff;
    display: inline-block;
}

.form-left {
    width: 60%;
    background-color: #334c9e;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #e27087;
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
    -webkit-box-shadow: 3px 3px 0 #4a2424, -1px -1px 0 #4a2424, 1px -1px 0 #4a2424, -1px 1px 0 #4a2424, 1px 1px 0 #4a2424;
    box-shadow: 3px 3px 0 #4a2424, -1px -1px 0 #4a2424, 1px -1px 0 #4a2424, -1px 1px 0 #4a2424, 1px 1px 0 #4a2424;
}

.form-center {
    width: 80%;
    background-color: #334c9e;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #e27087;
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
    -webkit-box-shadow: 3px 3px 0 #4a2424, -1px -1px 0 #4a2424, 1px -1px 0 #4a2424, -1px 1px 0 #4a2424, 1px 1px 0 #4a2424;
    box-shadow: 3px 3px 0 #4a2424, -1px -1px 0 #4a2424, 1px -1px 0 #4a2424, -1px 1px 0 #4a2424, 1px 1px 0 #4a2424;
}

.form-right-top,
.form-right-bottom,
.form-right {
    width: 100%;
    background-color: #334c9e;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #e27087;
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
    -webkit-box-shadow: 3px 3px 0 #4a2424, -1px -1px 0 #4a2424, 1px -1px 0 #4a2424, -1px 1px 0 #4a2424, 1px 1px 0 #4a2424;
    box-shadow: 3px 3px 0 #4a2424, -1px -1px 0 #4a2424, 1px -1px 0 #4a2424, -1px 1px 0 #4a2424, 1px 1px 0 #4a2424;
}

.form-center h2, 
.form-center h3, 
.form-center h4 {
    margin-bottom: 10px;
    margin-top: 0;
    color: #ffffff;
    text-align: center;
}

.form-center button {
    display: inline-block;
}

.form-right-top button,
.form-right-bottom button,
.form-right button {
    display: inline-block;
    margin-bottom: 15px;
}

.form-right-top h3,
.form-right-bottom h3,
.form-right h3 {
    margin-bottom: 10px;
    margin-top: 0;
    color: #ffffff;
    text-align: center;
}

.form-single-line {
    display: flex;
    align-items: center;
    padding: 5px;
}

.form-single-line label {
    width: 300px;
    margin-right: 10px;
    text-align: right;
}

.form-single-line input {
    width: 300px;
    padding: 8px;
    background-color: #e27087;
    color: #ffffff;
    border: 2px solid #b25b6e;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-single-line input[type="number"] {
    width: 10%;
    padding: 8px;
    margin-bottom: 10px;
}

.form-button-center {
    text-align: center;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.slider-wrapper {
    display: flex;
    align-items: center;
}

.slider-wrapper input[type="range"] {
    flex-basis: 80%;
    margin-right: 10px;
}

.slider-input {
    flex-basis: 20%;
    margin-left: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.slider-value {
    margin-left: 10px;
}

.tags-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tags-dropdown label {
    margin-bottom: 5px;
    margin-left: 0;
}

.tags-dropdown .input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.tags-dropdown input {
    width: 40%;
    padding: 8px;
    background-color: #e27087;
    color: #ffffff;
    border: 2px solid #b25b6e;
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
    margin-right: 5px;
    box-sizing: border-box;
    line-height: 1.5;
    -webkit-box-shadow: 3px 3px 0 #4a2424, -1px -1px 0 #4a2424, 1px -1px 0 #4a2424, -1px 1px 0 #4a2424, 1px 1px 0 #4a2424;
    box-shadow: 3px 3px 0 #4a2424, -1px -1px 0 #4a2424, 1px -1px 0 #4a2424, -1px 1px 0 #4a2424, 1px 1px 0 #4a2424;
}

.tagsContainer {
    width: 60%;
    margin-top: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: #334c9e;
}

.tagsContainer span {
    background-color: #e27087;
    color: #ffffff;
    cursor: default;
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.tagsContainer span .remove-tag,
.remove-tag {
    background-color: transparent;
    border: none;
    margin-left: 5px;
    cursor: pointer;
    color: #ffffff;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.tagsContainer span .remove-tag:hover,
.remove-tag:hover {
    color: #787bff;
}

.remove-position {
    color: white;
    background-color: transparent;
    text-align: center;
    border: none;
    padding-top: 15px;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.remove-position:hover {
    color: #334c9e
}

.mod-list {
    text-align: center;
}

.mod-list input[type="text"] {
    width: 50%;
    padding: 8px;
    margin-bottom: 5px;
    background-color: #e27087;
    color: #ffffff;
    border: 1px solid #b25b6e;
    border-radius: 5px;
}

.mod-container {
    text-align: center;
}

.mod-container li {
    background-color: #e27087;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    list-style: none;
}

#positionsList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#onePieceField, #twoPieceFields {
    display: none; /* Hidden by default */
}

#addOutfit {
    width: 20%;
}
